.perfil {border-radius: 50%;border: solid 5px #fff; position: fixed; right: 35px; top: 5px;}
.transparente{position: absolute;}
.box-perfil{position: absolute;right: 20px;}
.btn-secondary{border-radius: 50%;background-color: #2995CF;}



#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    margin-top: 140px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #homeMenu li:hover{
    background-color: #2995CF;
  }

  #homeMenu li a:hover{
    color: black;
  }

  span.barraVertical{
    color: white;
    font-size: 30px;
  }
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
  }

  .sidebar-nav li:hover{
    color: #2995CF;
  }

  .buttonEntrar{
    float: center;
    bottom: 5px;
    margin: 500px auto 0 auto;
    padding: 25px;

  }
  